<div class="w3-top w3-center">
  <div class="w3-bar">
    <div class="w3-xlarge w3-margin-right w3-margin-left"><i class="fa fa-bars"></i></div>
    <a class=" w3-button  " href="/user/back"><i class="fas fa-arrow-left"></i> </a>
    <a class=" w3-button  " href="/user/forward"><i class="fas fa-arrow-right"></i></a>
    <a class=" w3-button w3-xlarge" href="/download"><i class="fa fa-download"></i> </a>
    <a class=" w3-button w3-xlarge" href="/auth/logout"><i class="fa fa-sign-out"></i> </a>
  </div>
</div>