{{ template "header.html" .}}
<body>
  <div class="w3-section w3-serif" style="width:fit-content; margin:auto; padding-top: 3em;">
      <div class="w3-section w3-card-4 w3-center"
          style="width:fit-content; margin-left:auto; margin-right:auto; padding-bottom: 10px">
          <header class=" w3-container w3-blue" style="margin-bottom: 10px">
            <h3 class="w3-center"> Ghaaah! 404!</h3>  
            <h3 class="w3-center">Sorry, the app tried to access a page that does not exist</h3>
            <h3 class="w3-center">This is probably not your fault</h3>
          </header>

      </div>
  </div>
</body>
{{ template "footer.html" .}}