{{ template "header.html" .}}
{{ template "menu.html" .}}
<div style="margin-top: 60px;">
  <div class="w3-section w3-card-4 w3-serif" style="width:fit-content; margin:auto">
    <header class="w3-container w3-blue">
      <h3 class="w3-center"> Class Stocks </h3>
    </header>
    </header>
    <table>
      <thead>
        <tr>
          <th>Link</th>
          <th>Usage Type</th>
          <th>Class</th>
          <th>Commodity</th>
          <th>Size</th>
          <th>Value</th>
          <th>Price</th>
          <th>Demand</th>
          <th>Requirement</th>
        </tr>
      </thead>
      <tbody>
        {{ range .ClassStockViews }}
        <tr>
          {{ Link . `class_stock` `Id` }}
          {{ ShowString . `UsageType` }}
          {{ StockClassLink . }}
          {{ ClassStockCommodityLink .}}
          {{ Show . `Size` }}
          {{ Show . `Value` }}
          {{ Show . `Price` }}
          {{ ShowDecimal . `Demand` }}
          {{ ShowDecimal . `Requirement` }}
        </tr>

        {{ end }}
      </tbody>
  </div>
</div>

{{ template "footer.html" .}}