{{ template "header.html" .}}
{{ template "menu.html" .}}
<div style="margin-top: 60px;">
  <div class="w3-section w3-card-4 w3-serif" style="width:fit-content; margin:auto">
    <header class="w3-container w3-blue">
      <h3 class="w3-center"> Class Stocks </h3>
    </header>
    </header>
    <table>
      <thead>
        <tr>
          <th>Usage Type</th>
          <th>Class</th>
          <th>Commodity</th>
          <th>Size</th>
          <th>Value</th>
          <th>Price</th>
          <th>Demand</th>
        </tr>
      </thead>
      <tbody>
        {{ range .ClassStocks }}
        <tr>
          <td>{{ .UsageType }}</td>
          <td><a href="/class/{{ .ClassId}}">{{ .Viewed.Class.Name }}</a> </td>
          <td><a href="/commodity/{{ .CommodityId}}">{{ .Viewed.Commodity.Name }}</a></td>
          {{ .Size.FormatRounded }}
          {{ .Value.FormatRounded }}</td>
          {{ .Price.FormatRounded }}</td>
          {{ .Demand.FormatRounded }}</td>


        </tr>

        {{ end }}
      </tbody>
  </div>
</div>

{{ template "footer.html" .}}