{{ template "header.html" .}}
{{ template "menu.html" .}}
<div style="margin-top: 60px;">
  <div class="w3-section w3-card-4" style="width:fit-content; margin:auto">
    <header class="w3-container w3-blue">
      <h3 class="w3-center"> {{ .Title }} </h3>
    </header>
    <table class="table table-striped w-auto" id="stocks">
      <thead>
        <tr>
          <th>Usage Type</th>
          <th>Industry</th>
          <th>Commodity</th>
          <th>Size</th>
          <th>Value</th>
          <th>Price</th>
          <th>Coefficient</th>
          <th>Demand</th>
        </tr>
      </thead>
      <tbody>
        <!--Loop over the industry stocks -->
        {{range .IndustryStocks }}

        <tr>
          <td><a href="/stock/{{.Id}}">{{ .UsageType }}</a></td>
          <td><a href="/industry/{{.IndustryId}}">{{ .Industry.Name }}</a> </td>
          <td><a href="/commodity/{{ .CommodityId}}">{{ .Commodity.Name }}</a></td>
          <td style="text-align:right">{{ .Size }}</td>
          <td style="text-align:right">{{ .Value }}</td>
          <td style="text-align:right">{{ .Price }}</td>
          <td style="text-align:right">{{ .Requirement }}</td>
          <td style="text-align:right">{{ .Demand }}</td>

        </tr>
        {{end}}
      </tbody>
    </table>
  </div>
  <h4 class="w3-red">{{ .Message }}</h4>
</div>
{{ template "footer.html" .}}