<!--industries.html-->
{{ template "header.html" .}}
{{ template "menu.html" .}}
<div class="w3-section w3-card-3 w3-serif" style="width:fit-content; margin:auto; padding-top:80px">
  <header class="w3-container w3-blue">
    <h3 class="w3center"> {{ .IndustryStock.Name }}</h3>
  </header>
  <table class="w3-table-all">
    <thead>
      <tr>
        <th>Item</th>
        <th style="text-align:center">Value</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td> Time Stamp</td>
        <td style="text-align:center">{{ .IndustryStock.TimeStamp }}</td>
      </tr>
      <tr>
        <td> Industry </td>
        <td style="text-align:center">{{ .IndustryStock.IndustryName }}</td>
      </tr>
      <tr>
        <td> Commodity </td>
        <td style="text-align:center">{{ .IndustryStock.CommodityName }}</td>
      </tr>
      <tr>
        <td> Origin </td>
        <td style="text-align:center">{{ .IndustryStock.Origin }}</td>
      </tr>
      <tr>
        <td> Usage </td>
        <td style="text-align:center">{{ .IndustryStock.UsageType}}</td>
      </tr>
      <tr>
        <td> Size </td>
        <td style="text-align:center">{{ .IndustryStock.Size }}</td>
      </tr>
      <tr>
        <td> Value </td>
        <td style="text-align:center">{{ .IndustryStock.Value }}</td>
      </tr>
      <tr>
        <td> Price </td>
        <td style="text-align:center">{{ .IndustryStock.Price }}</td>
      </tr>
      <tr>
        <td> Demand </td>
        <td style="text-align:center">{{ .IndustryStock.Demand }}</td>
      </tr>
    </tbody>
  </table>
  <h4 class="w3-red">{{ .Message }}</h4>
</div>
{{ template "footer.html" .}}