<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="/static/js/jquery.min.js"></script>
  <script type="text/javascript" src="/static/js/jquery.accordion.js"></script>
  <link rel="stylesheet" type="text/css" href="/static/css/jquery.accordion.css">
  <title>Trace</title>
</head>

<body>
  <section data-accordion>
    <!--Loop over the trace record-->
    {{range .Trace }}
    {{ . }}
    {{ end }}
  </section>
  </div>
  </section>
  </section>

</body>

<script>$(document).ready(function () {
    $('#demo [data-accordion]').accordion();
  });
</script>

</html>