<!--index.html-->
{{ template "header.html" .}}
<div class="w3-top w3-center">
  <div class="w3-bar">
    <a class="w3-button" id="less"><i class="fas fa-arrow-left"></i> </a>
    <a class="w3-button" id="more"><i class="fas fa-arrow-right"></i></a>
  </div>
</div>

<div>
  <article class="beefup">
    <h2 class="beefup__head">Headline</h2>
    <div class="beefup__body">My fancy collapsible content.</div>
  </article>

  <article class="beefup example-opensingle">
    <h4 class="beefup__head">Item 2</h4>

    <div class="beefup__body">
      <div class="mockup"></div>

      <article class="beefup example-opensingle">
        <h4 class="beefup__head">Nested Item 1</h4>

        <div class="beefup__body">
          <div class="mockup"></div>
        </div>
      </article>

      <article class="beefup example-opensingle">
        <h4 class="beefup__head">Nested Item 2</h4>

        <div class="beefup__body">
          <div class="mockup mockup-lg"></div>
        </div>
      </article>
    </div>
  </article>
</div>

<div class="w3-section w3-card-4" style="width:90%; margin:auto">
  <header class="w3-container w3-blue">
    <h3 class="w3-center">{{ .Title}} </h3>
  </header>
  <!--Loop over the trace record-->
  {{ $CurrentLevel:=1 }}
  {{ $LastMessage := "Trace"}}
  <div class="beefup">
    {{range .Trace }}
      {{ if gt .Level $CurrentLevel }}
        <h4 class="beefup__head"> {{ $LastMessage }}</h4>
        {{ $CurrentLevel = .Level}}
        {{ $LastMessage = .Message }}
      {{ end }}

      {{ if eq .Level $CurrentLevel }}
        <h4 class="beefup__body"> {{ $LastMessage }}</h4>
      {{ end }}

      {{ if lt .Level $CurrentLevel }}
        <h4 class="beefup__body"> {{ $LastMessage }}</h4>
        {{ $LastMessage = .Message }}
      {{ end }}

    {{ end }}
  </div>
</div>
{{ template "footer.html" .}}

<script>
  $(function () {
    $('.beefup').beefup();
  });
</script>