<!--index.html-->
{{ template "header.html" .}}
<div class="w3-section w3-card-4" style="width:75%; margin:auto">
  <header class="w3-container w3-blue">
    <h3 class="w3-center">{{ .Title}} </h3>
  </header>
  <table class="table w-auto">
    <thead>
      <tr>
        <th>Message</th>
      </tr>
    </thead>
    <tbody>
      <!--Loop over the trace record-->
      {{range .Trace }}
      <tr>
        <td>{{ .Message }}</td>
      </tr>
      {{end}}
    </tbody>
  </table>

</div>
{{ template "footer.html" .}}