{{ template "header.html" .}}
{{ template "menu.html" .}}
<!-- {{ $A := len .CommodityViews}} -->
<div class="w3-section w3-serif" style="width:auto ;margin:auto; padding-top: 3em;">
  <!-- {{ if ne $A 0}} -->
  <div>{{ template "commodity-table.html" .}}</div>
  <div class="w3-row ">
    <div class="w3-container w3-half">
      {{ template "industry-table-sizes.html" .}}
    </div>
    <div class="w3-container w3-half">
      {{ template "industry-table-values.html" .}}
    </div>
  </div>
  {{ template "industry-table-prices.html" .}}
  <div class="w3-row ">
    <div class="w3-container w3-half">
      {{ template "class-table-sizes.html" .}}
    </div>
    <div class="w3-container w3-half">
      {{ template "class-table-values.html" .}}
    </div>
  </div>
  {{ template "class-table-prices.html" .}}
  <!-- {{ else }} -->
  <div class="w3-container w3-blue" style="margin: auto; width: 100%">
    <h3 class="w3-center"> {{ .username }} has no simulations yet</h3>
    <h3 class="w3-center"> 
      <a class=" w3-button w3-gray w3-round" href="/user/dashboard">Choose one here</a>
      <a class=" w3-button w3-gray w3-round" href="quit">Or log in as a different user</a>
    </h3>
  </div>
  <!-- {{ end}} -->
  <h4 class="w3-red">{{ .Message }}</h4>
</div>
{{ template "footer.html" .}}