<div class="w3-section w3-card-4 w3-serif" style="width:fit-content; margin:auto">
  <header class="w3-container w3-blue">
    <div class="w3-center">Commodities</div>
  </header>
  <table>
    <thead>
      <tr>
        <th>Commodity</th>
        <th style="text-align:center">Origin </th>
        <th style="text-align:center">Usage </th>
        <th>Size </th>
        <th style="text-align:center">Total<br>Value </th>
        <th style="text-align:center">Total<br>Price </th>
        <th style="text-align:center">Unit<br>Value </th>
        <th style="text-align:center">Unit<br>Price </th>
        <th style="text-align:center">Turnover<br>Time </th>
        <th>Demand </th>
        <th>Supply </th>
        <th style="text-align:center">Allocation<br>Ratio </th>
      </tr>
    </thead>
    <tbody>
      <!--Loop over the commodities  -->
      {{range .CommodityViews }}
      <tr>
        {{ Link . `commodity` }}
        {{ OriginGraphic . }}
        {{ UsageGraphic .}}
        {{ Show . "Size" }}
        {{ Show . "TotalValue" }}
        {{ Show . "TotalPrice" }}
        {{ ShowDecimal . "UnitValue" }}
        {{ ShowDecimal . "UnitPrice" }}
        {{ Show . "TurnoverTime" }}
        {{ Show . "Demand" }}
        {{ Show . "Supply" }}
        {{ Show . "AllocationRatio" }}


      </tr>
      {{end}}
    </tbody>
  </table>
</div>