<div class="w3-dropdown-hover w3-bar-item">
    <div class="w3-xlarge w3-margin-right w3-margin-left">
        <i style="font-weight: bolder; color:red" class="fa fa-clock"></i>
    </div>
    <div class="w3-dropdown-content w3-bar-block w3-card-4">
        <a class=" w3-button  w3-bar-item" href="/action/display-values">
            <i style="font-weight: bolder; color:red" class="fa fa-clock"></i>
        </a>
        <a class=" w3-button  w3-bar-item" href="/action/display-sizes">
            <i style="font-weight: bolder; color:green" class="fa fa-layer-group"></i>
        </a>
        <a class=" w3-button  w3-bar-item" href="/action/display-prices">
            <i style="font-weight: bolder; color:goldenrod" class="fa fa-dollar"></i>
        </a>
    </div>
</div>