<div class="w3-dropdown-hover w3-bar-item">
    <div class="w3-xlarge w3-margin-left w3-margin-right"><i class="fa fa-table-cells"></i></div>
    <div class="w3-dropdown-content w3-bar-block w3-card-4">
      <a class=" w3-button  w3-bar-item" href="/index">Economy</a>
      <a class=" w3-button  w3-bar-item" href="/commodities">Commodities</a>
      <a class=" w3-button  w3-bar-item" href="/industries">Industries</a>
      <a class=" w3-button  w3-bar-item" href="/classes">Classes</a>
      <a class=" w3-button  w3-bar-item" href="/industry_stocks">Industry Stocks</a>
      <a class=" w3-button  w3-bar-item" href="/class_stocks">Class Stocks</a>
    </div>
  </div>
