<div class="w3-dropdown-hover w3-bar-item">
    <div class="w3-xlarge w3-margin-right w3-margin-left"><i class="fa fa-bars"></i></div>
    <div class="w3-dropdown-content w3-bar-block w3-card-4">
      <a class=" w3-button  w3-bar-item" href="/user/dashboard">Dashboard</a>
      <a class=" w3-button  w3-bar-item" href="/welcome">Home</a>
      <a class=" w3-button  w3-bar-item" href="/user/data">Base Data</a>
      <a class=" w3-button  w3-bar-item" href="/all-display-data">Display Data</a>
      <a class=" w3-button  w3-bar-item" href="/admin/dashboard">Admin</a>
      <a class=" w3-button  w3-bar-item" href="/trace">Trace</a>
    </div>
  </div>
