<!doctype html>
<html>

<head>
  <title>Capitalism</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="UTF-8">
  <meta name="description" content="Capitalism Simulation">

  <!-- Scripts and css are inline so we can debug without a remote connection (using locally-served API)-->
  <!-- To provide for updates, use CDN -->
  <!-- <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> -->

  <link rel="stylesheet" href="/static/css/w3.css">
  <link rel="stylesheet" href="/static/css/main.css">

  <!-- Beefup Scripts: see https://github.com/Schascha/BeefUp -->
  <!-- There is no CDN for these scripts but Schascha doesn't do major updates so that's OK -->
  <link rel="stylesheet" href="/static/css/jquery.beefup.css">
  <script> src = "/static/js/jquery.min.js" </script>
  <script> src = "/static/js/jquery.beefup.min.js" </script>


  <!-- TODO create proper static files for fontawesome css and js -->
  <link rel="stylesheet" href="/static/css/all.css">
  <script> src ="/static/js/all.js"</script>
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">   -->
  <!-- <script src="https://kit.fontawesome.com/4626f30439.js" crossorigin="anonymous"></script> -->


</head>