<!--menu.html-->
<div class="w3-top w3-center">
  <div class="w3-bar">
    <div class="w3-bar-item">

     <!-- workaround. the bars icon was showing up grey because w3-bar styles the first child item grey. So we 
     put in an empty first item. Doesn't quite work because the bars hover style is now white but good enough -->

    </div>
    {{ template "dropdown-display.html" . }}
    {{ template "dropdown-tables.html" . }}
    {{ template "dropdown-actions.html" . }}
    {{ template "arrows-and-states.html" . }}
    {{ template "dimension-chooser.html" . }}

    <a class=" w3-button w3-xlarge" href="https://axfreeman.github.io/just-the-docs-template/"><i class="fa fa-question"></i> </a>
    <a class=" w3-button w3-xlarge" href="/download"><i class="fa fa-download"></i> </a>
    <a class=" w3-button w3-xlarge" href="/auth/logout"><i class="fa fa-sign-out"></i> </a>
  </div>
</div>