<!--menu.html-->
<div class="w3-top w3-center">
  <div class="w3-bar">
    <div class="w3-bar-item">
      <!-- workaround. the bars icon was showing up grey because w3-bar styles the first child item grey. 
       So we put in an empty first item. Doesn't quite work because the bars hover style is now white
       but good enough  
       -->
    </div>
    <div class="w3-dropdown-hover w3-bar-item">
      <div class="w3-xlarge w3-margin-right w3-margin-left"><i class="fa fa-bars"></i></div>
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
        <a class=" w3-button  w3-bar-item" href="/user/dashboard">Dashboard</a>
        <a class=" w3-button  w3-bar-item" href="/welcome">Home</a>
        <a class=" w3-button  w3-bar-item" href="/user/data">Base Data</a>
        <a class=" w3-button  w3-bar-item" href="/user/table-data">Display Data</a>
        <a class=" w3-button  w3-bar-item" href="/admin/dashboard">Admin</a>
      </div>
    </div>

    <div class="w3-dropdown-hover w3-bar-item">
      <div class="w3-xlarge w3-margin-left w3-margin-right"><i class="fa fa-table-cells"></i></div>
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
        <a class=" w3-button  w3-bar-item" href="/index">Economy</a>
        <a class=" w3-button  w3-bar-item" href="/commodities">Commodities</a>
        <a class=" w3-button  w3-bar-item" href="/industries">Industries</a>
        <a class=" w3-button  w3-bar-item" href="/classes">Classes</a>
        <a class=" w3-button  w3-bar-item" href="/industry_stocks">Industry Stocks</a>
        <a class=" w3-button  w3-bar-item" href="/class_stocks">Class Stocks</a>
      </div>
    </div>
    <div class="w3-dropdown-hover w3-bar-item">
      <div class="w3-xlarge w3-margin-left w3-margin-right"><i class="fa fa-refresh"></i></div>
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
        {{ if eq .State "DEMAND" }}
        <a class=" w3-button w3-bar-item " href="/action/demand">Demand</a>
        {{ else }}
        <a class=" w3-button w3-disabled w3-bar-item ">Demand</a>
        {{ end }}

        {{ if eq .State "SUPPLY"}}
        <a class=" w3-button  w3-bar-item" href="/action/supply">Supply</a>
        {{ else }}
        <a class=" w3-button w3-disabled w3-bar-item ">Supply</a>
        {{ end }}

        {{ if eq .State "TRADE"}}
        <a class=" w3-button  w3-bar-item" href="/action/trade">Trade</a>
        {{ else }}
        <a class=" w3-button w3-disabled w3-bar-item ">Trade</a>
        {{ end }}

        {{ if eq .State "PRODUCE"}}
        <a class=" w3-button  w3-bar-item" href="/action/produce">Produce</a>
        {{ else }}
        <a class=" w3-button w3-disabled w3-bar-item ">Produce</a>
        {{ end }}

        {{ if eq .State "CONSUME"}}
        <a class=" w3-button  w3-bar-item" href="/action/consume">Consume</a>
        {{ else }}
        <a class=" w3-button w3-disabled w3-bar-item ">Consume</a>
        {{ end }}

        {{ if eq .State "INVEST"}}
        <a class=" w3-button  w3-bar-item" href="/action/invest">Invest</a>
        {{ else }}
        <a class=" w3-button w3-disabled w3-bar-item ">Invest</a>
        {{ end }}
      </div>
    </div>
    <a class=" w3-button  " href="/user/back"><i class="fas fa-arrow-left"></i> </a>
    <a class=" w3-button  " href="/user/forward"><i class="fas fa-arrow-right"></i></a>
    <a class=" w3-button w3-xlarge" href="https://axfreeman.github.io/just-the-docs-template/"><i
        class="fa fa-question"></i> </a>
    <a class=" w3-button w3-xlarge" href="/download"><i class="fa fa-download"></i> </a>
    <a class=" w3-button w3-xlarge" href="/auth/logout"><i class="fa fa-sign-out"></i> </a>
  </div>
</div>