<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="/static/js/jquery.min.js"></script>
  <script src="/static/js/jquery.beefup.min.js"></script>
  <link rel="stylesheet" href="/static/css/jquery.beefup.css">
  <link rel="stylesheet" href="/static/css/main.css">

  <title>Beefup</title>
</head>

<body>
  <h1>Hello</h1>
  {{ .Content }}

  <article class="beefup">
    <h2 class="beefup__head">Headline</h2>
    <div class="beefup__body">My fancy collapsible content.</div>
  </article>

</body>

<script>
    $(function() {
        $('.beefup').beefup();
    });
</script>

</html>