<!DOCTYPE html>
<html>
<style>
    .accordion dl dt {
        cursor: pointer;
        border-bottom: 1px solid #fff;
        width: 90%;
      }
      .accordion dl dd {
        display: none;
        height: auto;
      }
      .accordion-nested {
        background: lightgray;
      }
      .accordion-nested dl {
        background: lightgray;
      }
      .accordion-nested dl dt {
        background: lightgray;
        margin-left: 10px;
        color: green;
      }
      .accordion-nested .accordion-nested dl dt {
        background: lightgray;
        margin-left: 20px;
        color: Blue;
      }
      .accordion-nested .accordion-nested .accordion-nested dl dt {
        background: lightgray;
        margin-left: 30px;
        color: red;
      }
      .accordion-nested .accordion-nested .accordion-nested .accordion-nested dl dt {
        background: white;
        margin-left: 40px;
      }
</style>
<div class="accordion">
    <div class="accordion-nested">
        <dl>
            <dt> CREATING A LIST OF SELLERS FOR SIMULATION 9</dt>
            <div class="accordion-nested">
                <dl>
                    <dd>
                        <dt>  Adding seller Department I selling [Department I.Means of Production.Sales.9] (Means of Production) for money 135</dt>
                        <dt>  Adding seller Department II selling [Department II.Necessities.Sales.9] (Necessities) for money 139</dt>
                        <dt>  Adding seller Workers selling [Workers.Labour Power.Sales.9] (Labour Power)for money 140</dt>
                        <dt>  Adding seller Capitalists selling [Capitalists.Capital Services.Sales.9] (Capital Services)for money 137</dt>
                    </dd>
                </dl>
            </div>
            <dt> CREATING A LIST OF BUYERS FOR SIMULATION 9</dt>
            <div class="accordion-nested">
                <dl>
                    <dd>
                        <dt>  Adding buyer Department I buying [Department I.Means of Production.Production.9] (Means of Production) using money 135</dt>
                        <dt>  Adding buyer Department II buying [Department II.Means of Production.Production.9] (Means of Production) using money 139</dt>
                        <dt>  Adding buyer Department II buying [Department II.Labour Power.Production.9] (Labour Power) using money 139</dt>
                        <dt>  Adding buyer Department I buying [Department I.Labour Power.Production.9] (Labour Power) using money 135</dt>
                        <dt>  Adding buyer Capitalists buying [Capitalists.Necessities.Consumption.9] (Necessities) using money 137</dt>
                        <dt>  Adding buyer Workers buying [Workers.Necessities.Consumption.9] (Necessities) using money 140</dt>
                    </dd>
                </dl>
            </div>
            <dt> CALCULATE THE SIZE, VALUE AND PRICE OF ALL COMMODITIES</dt>
            <div class="accordion-nested">
                <dl>
                    <dd>
                        <dt>  Processing the industrial stock called [Department II.Necessities.Sales.9]</dt>
                        <div class="accordion-nested">
                            <dl>
                                <dd>
                                    <dt>   Adding 3250.0 to the size of Necessities bringing it to 3250.0</dt>
                                    <dt>   Adding 3250.0 to the value of Necessities bringing it to 3250.0</dt>
                                    <dt>   Adding 3250.0 to the price of Necessities bringing it to 3250.0</dt>
                                </dd>
                            </dl>
                        </div>
                        <dt>  Processing the class stock called [Capitalists.Necessities.Consumption.9]</dt>
                        <div class="accordion-nested">
                            <dl>
                                <dd>
                                    <dt>   Adding 0.0 to the size of Necessities bringing it to 3250.0</dt>
                                    <dt>   Adding 0.0 to the value of Necessities bringing it to 3250.0</dt>
                                    <dt>   Adding 0.0 to the price of Necessities bringing it to 3250.0</dt>
                                </dd>
                            </dl>
                        </div>
                        <dt>  Processing the class stock called [Workers.Necessities.Consumption.9]</dt>
                        <div class="accordion-nested">
                            <dl>
                                <dd>
                                    <dt>   Adding 0.0 to the size of Necessities bringing it to 3250.0</dt>
                                    <dt>   Adding 0.0 to the value of Necessities bringing it to 3250.0</dt>
                                    <dt>   Adding 0.0 to the price of Necessities bringing it to 3250.0</dt>
                                </dd>
                            </dl>
                        </div>
                        <dt>  Processing the industrial stock called [Department II.Labour Power.Production.9]</dt>
                        <div class="accordion-nested">
                            <dl>
                                <dd>
                                    <dt>   Adding 0.0 to the size of Labour Power bringing it to 0.0</dt>
                                    <dt>   Adding 0.0 to the value of Labour Power bringing it to 0.0</dt>
                                    <dt>   Adding 0.0 to the price of Labour Power bringing it to 0.0</dt>
                                </dd>
                            </dl>
                        </div>
                        <dt>  Processing the industrial stock called [Department I.Labour Power.Production.9]</dt>
                        <div class="accordion-nested">
                            <dl>
                                <dd>
                                    <dt>   Adding 0.0 to the size of Labour Power bringing it to 0.0</dt>
                                    <dt>   Adding 0.0 to the value of Labour Power bringing it to 0.0</dt>
                                    <dt>   Adding 0.0 to the price of Labour Power bringing it to 0.0</dt>
                                </dd>
                            </dl>
                        </div>
                        <dt>  Processing the class stock called [Workers.Labour Power.Sales.9]</dt>
                        <div class="accordion-nested">
                            <dl>
                                <dd>
                                    <dt>   Adding 3500.0 to the size of Labour Power bringing it to 3500.0</dt>
                                    <dt>   Adding 1750.0 to the value of Labour Power bringing it to 1750.0</dt>
                                    <dt>   Adding 1750.0 to the price of Labour Power bringing it to 1750.0</dt>
                                </dd>
                            </dl>
                        </div>
                        <dt>  Processing the industrial stock called [Department I.Means of Production.Sales.9]</dt>
                        <div class="accordion-nested">
                            <dl>
                                <dd>
                                    <dt>   Adding 5500.0 to the size of Means of Production bringing it to 5500.0</dt>
                                    <dt>   Adding 5500.0 to the value of Means of Production bringing it to 5500.0</dt>
                                    <dt>   Adding 5500.0 to the price of Means of Production bringing it to 5500.0</dt>
                                </dd>
                            </dl>
                        </div>
                        <dt>  Processing the industrial stock called [Department I.Means of Production.Production.9]</dt>
                        <div class="accordion-nested">
                            <dl>
                                <dd>
                                    <dt>   Adding 0.0 to the size of Means of Production bringing it to 5500.0</dt>
                                    <dt>   Adding 0.0 to the value of Means of Production bringing it to 5500.0</dt>
                                    <dt>   Adding 0.0 to the price of Means of Production bringing it to 5500.0</dt>
                                </dd>
                            </dl>
                        </div>
                        <dt>  Processing the industrial stock called [Department II.Means of Production.Production.9]</dt>
                        <div class="accordion-nested">
                            <dl>
                                <dd>
                                    <dt>   Adding 0.0 to the size of Means of Production bringing it to 5500.0</dt>
                                    <dt>   Adding 0.0 to the value of Means of Production bringing it to 5500.0</dt>
                                    <dt>   Adding 0.0 to the price of Means of Production bringing it to 5500.0</dt>
                                </dd>
                            </dl>
                        </div>
                        <dt>  Processing the industrial stock called [Department I.Money.Money.9]</dt>
                        <div class="accordion-nested">
                            <dl>
                                <dd>
                                    <dt>   Adding 9000.0 to the size of Money bringing it to 9000.0</dt>
                                    <dt>   Adding 9000.0 to the value of Money bringing it to 9000.0</dt>
                                    <dt>   Adding 9000.0 to the price of Money bringing it to 9000.0</dt>
                                </dd>
                            </dl>
                        </div>
                        <dt>  Processing the industrial stock called [Department II.Money.Money.9]</dt>
                        <div class="accordion-nested">
                            <dl>
                                <dd>
                                    <dt>   Adding 3000.0 to the size of Money bringing it to 12000.0</dt>
                                    <dt>   Adding 3000.0 to the value of Money bringing it to 12000.0</dt>
                                    <dt>   Adding 3000.0 to the price of Money bringing it to 12000.0</dt>
                                </dd>
                            </dl>
                        </div>
                        <dt>  Processing the class stock called [Capitalists.Money.Money.9]</dt>
                        <div class="accordion-nested">
                            <dl>
                                <dd>
                                    <dt>   Adding 1750.0 to the size of Money bringing it to 13750.0</dt>
                                    <dt>   Adding 1750.0 to the value of Money bringing it to 13750.0</dt>
                                    <dt>   Adding 1750.0 to the price of Money bringing it to 13750.0</dt>
                                </dd>
                            </dl>
                        </div>
                        <dt>  Processing the class stock called [Workers.Money.Money.9]</dt>
                        <div class="accordion-nested">
                            <dl>
                                <dd>
                                    <dt>   Adding 3500.0 to the size of Money bringing it to 17250.0</dt>
                                    <dt>   Adding 3500.0 to the value of Money bringing it to 17250.0</dt>
                                    <dt>   Adding 3500.0 to the price of Money bringing it to 17250.0</dt>
                                </dd>
                            </dl>
                        </div>
                        <dt>  Processing the class stock called [Capitalists.Capital Services.Sales.9]</dt>
                        <div class="accordion-nested">
                            <dl>
                                <dd>
                                    <dt>   Adding 0.0 to the size of Capital Services bringing it to 0.0</dt>
                                    <dt>   Adding 0.0 to the value of Capital Services bringing it to 0.0</dt>
                                    <dt>   Adding 0.0 to the price of Capital Services bringing it to 0.0</dt>
                                </dd>
                            </dl>
                        </div>
                        <dt>  Commodity Necessities has size 3250.0, total value 3250.0 and total price 3250.0</dt>
                        <dt>  Setting its unit value to 1.0 and its unit price to 1.0</dt>
                        <dt>  Commodity Labour Power has size 3500.0, total value 1750.0 and total price 1750.0</dt>
                        <dt>  Setting its unit value to 0.5 and its unit price to 0.5</dt>
                        <dt>  Commodity Means of Production has size 5500.0, total value 5500.0 and total price 5500.0</dt>
                        <dt>  Setting its unit value to 1.0 and its unit price to 1.0</dt>
                        <dt>  Commodity Money has size 17250.0, total value 17250.0 and total price 17250.0</dt>
                        <dt>  Setting its unit value to 1.0 and its unit price to 1.0</dt>
                    </dd>
                </dl>
            </div>
            <dt> RESETTING PRICES AND VALUES</dt>
            <div class="accordion-nested">
                <dl>
                    <dd>
                        <dt>  Revaluing industry stocks</dt>
                        <div class="accordion-nested">
                            <dl>
                                <dd>
                                    <dt>   Setting value 5500.0 and price 5500.0 for stock  of the stock [Department I.Means of Production.Sales.9]</dt>
                                    <dt>   Setting value 0.0 and price 0.0 for stock  of the stock [Department I.Means of Production.Production.9]</dt>
                                    <dt>   Setting value 9000.0 and price 9000.0 for stock  of the stock [Department I.Money.Money.9]</dt>
                                    <dt>   Setting value 0.0 and price 0.0 for stock  of the stock [Department II.Means of Production.Production.9]</dt>
                                    <dt>   Setting value 0.0 and price 0.0 for stock  of the stock [Department II.Labour Power.Production.9]</dt>
                                    <dt>   Setting value 0.0 and price 0.0 for stock  of the stock [Department I.Labour Power.Production.9]</dt>
                                    <dt>   Setting value 3000.0 and price 3000.0 for stock  of the stock [Department II.Money.Money.9]</dt>
                                    <dt>   Setting value 3250.0 and price 3250.0 for stock  of the stock [Department II.Necessities.Sales.9]</dt>
                                </dd>
                            </dl>
                        </div>
                        <dt>  Revaluing class stocks</dt>
                        <div class="accordion-nested">
                            <dl>
                                <dd>
                                    <dt>   Setting value to 0.0 and price to 0.0 for stock  of the stock [Capitalists.Necessities.Consumption.9] </dt>
                                    <dt>   Setting value to 1750.0 and price to 1750.0 for stock  of the stock [Capitalists.Money.Money.9] </dt>
                                    <dt>   Setting value to 0.0 and price to 0.0 for stock  of the stock [Workers.Necessities.Consumption.9] </dt>
                                    <dt>   Setting value to 1750.0 and price to 1750.0 for stock  of the stock [Workers.Labour Power.Sales.9] </dt>
                                    <dt>   Setting value to 3500.0 and price to 3500.0 for stock  of the stock [Workers.Money.Money.9] </dt>
                                    <dt>   Setting value to 0.0 and price to 0.0 for stock  of the stock [Capitalists.Capital Services.Sales.9] </dt>
                                </dd>
                            </dl>
                        </div>
                        <dt>  Finished revaluing stocks</dt>
                    </dd>
                </dl>
            </div>
            <dt> CALCULATING INITIAL CAPITAL for simulation 9</dt>
            <div class="accordion-nested">
                <dl>
                    <dd>
                        <dt>  Asking for the capital of Department II</dt>
                        <dt>  Calculating the capital of Department II</dt>
                        <div class="accordion-nested">
                            <dl>
                                <dd>
                                    <dt>   Adding 0.0 to capital of Department II for Industry stock [Department II.Means of Production.Production.9]</dt>
                                    <dt>   Adding 0.0 to capital of Department II for Industry stock [Department II.Labour Power.Production.9]</dt>
                                    <dt>   Adding 3000.0 to capital of Department II for Industry stock [Department II.Money.Money.9]</dt>
                                    <dt>   Adding 3250.0 to capital of Department II for Industry stock [Department II.Necessities.Sales.9]</dt>
                                </dd>
                            </dl>
                        </div>
                        <dt>  Finished calculating capital</dt>
                        <dt>  Asking for the capital of Department I</dt>
                        <dt>  Calculating the capital of Department I</dt>
                        <div class="accordion-nested">
                            <dl>
                                <dd>
                                    <dt>   Adding 5500.0 to capital of Department I for Industry stock [Department I.Means of Production.Sales.9]</dt>
                                    <dt>   Adding 0.0 to capital of Department I for Industry stock [Department I.Means of Production.Production.9]</dt>
                                    <dt>   Adding 9000.0 to capital of Department I for Industry stock [Department I.Money.Money.9]</dt>
                                    <dt>   Adding 0.0 to capital of Department I for Industry stock [Department I.Labour Power.Production.9]</dt>
                                </dd>
                            </dl>
                        </div>
                        <dt>  Finished calculating capital</dt>
                    </dd>
                </dl>
            </div>
            <dt> CALCULATING CURRENT CAPITAL</dt>
            <div class="accordion-nested">
                <dl>
                    <dd>
                        <dt>  Calculating the capital of Department II</dt>
                        <div class="accordion-nested">
                            <dl>
                                <dd>
                                    <dt>   Adding 0.0 to capital of Department II for Industry stock [Department II.Means of Production.Production.9]</dt>
                                    <dt>   Adding 0.0 to capital of Department II for Industry stock [Department II.Labour Power.Production.9]</dt>
                                    <dt>   Adding 3000.0 to capital of Department II for Industry stock [Department II.Money.Money.9]</dt>
                                    <dt>   Adding 3250.0 to capital of Department II for Industry stock [Department II.Necessities.Sales.9]</dt>
                                </dd>
                            </dl>
                        </div>
                        <dt>  Finished calculating capital</dt>
                        <dt>  Calculating the capital of Department I</dt>
                        <div class="accordion-nested">
                            <dl>
                                <dd>
                                    <dt>   Adding 5500.0 to capital of Department I for Industry stock [Department I.Means of Production.Sales.9]</dt>
                                    <dt>   Adding 0.0 to capital of Department I for Industry stock [Department I.Means of Production.Production.9]</dt>
                                    <dt>   Adding 9000.0 to capital of Department I for Industry stock [Department I.Money.Money.9]</dt>
                                    <dt>   Adding 0.0 to capital of Department I for Industry stock [Department I.Labour Power.Production.9]</dt>
                                </dd>
                            </dl>
                        </div>
                        <dt>  Finished calculating capital</dt>
            </div>
    </div>

    <body>
        <div class="accordion">
            <dl>
                <dt>Question 1</dt>
                <dd>
                    <div class="accordion-nested">
                        <dl>
                            <dt>Sub-question 1.1</dt>
                            <dd>
                                <div class="accordion-nested">
                                    <dl>
                                        <dt>Sub-sub-question 1.1.1</dt>
                                        <dd>lorem ipsum</dd>
                                        <dt>Sub-sub-question 1.1.2</dt>
                                        <dd>lorem ipsum </dd>
                                        <dt>Sub-sub-question 1.1.3</dt>
                                        <dd>lorem ipsum</dd>
                                    </dl>
                                </div>
                            </dd>
                            <dt>Sub-question 1.2</dt>
                            <dd>
                                <div class="accordion-nested">
                                    <dl>
                                        <dt>Sub-sub-question 1.2.1</dt>
                                        <dd>lorem ipsum</dd>
                                        <dt>Sub-sub-question 1.2.2</dt>
                                        <dd>lorem ipsum&lt;&lt; /dd>
                                            <dt>Sub-sub-question 1.2.3</dt>
                                            <dd>lorem ipsum</dd>
                                    </dl>
                                </div>
                                </dd>
                        </dl>
                    </div>
                    </dd>
                    <dt>Question 2</dt>
                    <dd>
                        <div class="accordion-nested">
                            <dl>
                                <dt>Sub-question 2.1</dt>
                                <dd>
                                    <div class="accordion-nested">
                                        <dl>
                                            <dt>Sub-sub-question 2.1.1</dt>
                                            <dd>lorem ipsum</dd>
                                            <dt>Sub-sub-question 2.1.2</dt>
                                            <dd>lorem ipsum</dd>
                                            <dt>Sub-sub-question 2.1.3</dt>
                                            <dd>lorem ipsum</dd>
                                        </dl>
                                    </div>
                                </dd>
                                <dt>Sub-question 2.2</dt>
                                <dd>
                                    <div class="accordion-nested">
                                        <dl>
                                            <dt>Sub-sub-question 2.2.1</dt>
                                            <dd>lorem ipsum</dd>
                                            <dt>Sub-sub-question 2.2.2</dt>
                                            <dd>lorem ipsum</dd>
                                            <dt>Sub-sub-question 2.2.3</dt>
                                            <dd>lorem ipsum</dd>
                                        </dl>
                                    </div>
                                </dd>
                            </dl>
                        </div>
                    </dd>
            </dl>
        </div>
    </body>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script>
        $('.accordion dt').on('click', function () {
            var current_dt = $(this);
            if (!$(this).next('dd').hasClass('active')) {
              if (current_dt.siblings('dd.active').length) {
                current_dt
                  .siblings('dd.active')
                  .slideUp(function () {
                    current_dt
                      .next('dd')
                      .slideDown()
                      .addClass('active');
                  })
                  .removeClass('active')
                  .find('dd.active')
                  .hide()
                  .removeClass('active');
              } else {
                current_dt.next('dd').slideDown().addClass('active');
              }
            } else {
              current_dt.next('dd').slideUp().removeClass('active');
            }
          });
    </script>

</html>