<div class="w3-section w3-card-4 w3-serif" style="width:fit-content; margin:auto">
  <header class="w3-container w3-blue">
    <div class="w3-center">Values</div>
  </header>

  <table class="table table-striped w-auto" id="class-values">
    <thead>
      <tr>
        <th style="width:30%">Class</th>
        <th style="text-align:center; width:15%">
          <img src="/static/img/civil-rights-red.png" alt="value" style="width:24px;height:24px;" />
        <th style="text-align:center; width:20%">
          <img src="/static/img/food-fork-drink-green.png" alt="value" style="width:24px;height:24px;" />
        </th>
        <th style="text-align:center; width:20%">
          <img src="/static/img/cash-yellow.png" alt="value" style="width:24px;height:24px;" />
        </th>
        <th style="text-align:center; width:15%">Sales</th>
      </tr>
    </thead>
    <tbody>
      {{range .ClassViews }}
      <tr>
        {{ Link . `class` `Name`}}
        {{ Show . "Population"}}
        {{ Show .ConsumptionView "Value" }}
        {{ Show .MoneyView "Value" }}
        {{ Show .SalesView "Value" }}
      </tr>
      {{end}}
    </tbody>
  </table>
</div>