<div class="w3-section w3-card-4 w3-serif" style="width:fit-content;  margin:auto">
  <header class="w3-container w3-blue">
    <h3 class="w3-center"> Classes </h3>
  </header>
  <table class="table table-striped w-auto" id=classes>
    <thead>
      <tr>
        <th>Name</th>
        <th style="text-align:center">Necessities<br>(Size)</th>
        <th style="text-align:center">Necessities<br>(Value)</th>
        <th style="text-align:center">Necessities<br>(Price)</th>
        <th style="text-align:center">Supply<br>Size</th>
        <th style="text-align:center">Supply<br>Value</th>
        <th style="text-align:center">Supply<br>Price</th>
        <th style="text-align:center">Population</th>
        <th style="text-align:center">Consumption<br>Ratio</th>
        <th>Revenue</th>
        <th>Assets</th>
      </tr>
    </thead>
    <tbody>
      <!--Loop over the classes -->
      {{range .ClassViews }}

      <tr>
        {{ Link . `class`}}
        {{ Show .ConsumptionView "Size" }}
        {{ Show .ConsumptionView "Value" }}
        {{ Show .ConsumptionView "Price" }}
        {{ Show .SalesView "Size" }}
        {{ Show .SalesView "Value" }}
        {{ Show .SalesView "Price" }}
        {{ Show . "Population"}}
        {{ Show . "ConsumptionRatio"}}
        {{ Show . "Revenue"}}
        {{ Show . "Assets"}}
      </tr>
      {{end}}
    </tbody>
  </table>
  </div>
  