<div class="w3-section w3-card-4 w3-serif" style="width:fit-content; margin:auto">
  <header class="w3-container w3-blue">
    <div class="w3-center">Prices<div>
  </header>

  <table >
    <thead>
      <tr>
        <th style="width:15%">Class</th>
        <th style="text-align:center; width:15%"><i style="font-weight: bolder; color:green" class="fa fa-cutlery"></th>
        <th style="text-align:center; width:15%"><i class="fa fa-dollar" style="font-weight: 900; color:goldenrod"></th>
        <th style="text-align:center; width:15%">Sales</th>
      </tr>
    </thead>
    <tbody>
      {{range .ClassViews }}
      <tr>
        {{ Link . `class`}}
        {{ Show . "Population "}}
        <td>-</td>
        <td>-</td>
        <td>-</td>
      </tr>
      {{end}}
    </tbody>
  </table>
</div>
