<div class="w3-section w3-card-4 w3-serif" style="width:fit-content; margin:auto">
  <header class="w3-container w3-blue">
    <div class="w3-center">Use Values </div>
  </header>

  <table >
    <thead>
      <tr>
        <th style="width:40%">Industry</th>
        <th style="text-align:center; width:10%">C</th>
        <th style="text-align:center;width:10%">V</th>
        <th style="text-align:center;width:10%">M</th>
        <th style="text-align:center;width:15%">C'(Sales)</th>
        <th style="text-align:center;width:15%">Output</th>
      </tr>
    </thead>
    <tbody>
      <!--Loop over the industries -->
      {{range .NewIndustryViews }}

      <tr>
        <td style="text-align: left">{{ .Link "industry"}}</td>
        <!-- Need functions for the below -->
        <!-- {{ .Show "ConstantCapitalSize" }}
        {{ .Show "VariableCapitalSize"}}
        {{ .Show "MoneyStockSize"}}
        {{ .Show "SalesStockSize"}}
        {{ .Show "OutputScale"}} -->
      </tr>
      {{end}}
    </tbody>
  </table>
</div>

