<div class="w3-section w3-card-4 w3-serif" style="width:fit-content; margin:auto">
  <header class="w3-container w3-blue">
    <div class="w3-center">Prices</div>
  </header>

  <table>
    <thead>
      <tr>
        <th>Industry</th>
        <th style="text-align:center">C</th>
        <th style="text-align:center">V</th>
        <th style="text-align:center">M</th>
        <th style="text-align:center">C'</th>
        <th style="text-align:center">Initial Capital</th>
        <th style="text-align:center">Current Capital</th>
        <th style="text-align:center">Profit</th>
        <th style="text-align:center">Profit Rate</th>
      </tr>
    </thead>
    <tbody>
      <!--Loop over the industries -->
      {{range .IndustryViews }}
      <tr>
        {{ Link . "industry" `Name`}}
        {{ Show .ConstantView "Price" }}
        {{ Show .VariableView "Price" }}
        {{ Show .MoneyView "Price" }}
        {{ Show .SalesView "Price"}}
        {{ Show . "InitialCapital" }}
        {{ Show . "CurrentCapital" }}
        {{ Show . "Profit" }}
        {{ ShowDecimal . "ProfitRate" }}
      </tr>
      {{end}}
    </tbody>
  </table>
</div>

