<div class="w3-section w3-card-4 w3-serif" style="width:fit-content; margin:auto">
  <header class="w3-container w3-blue">
    <div class="w3-center">Prices</div>
  </header>

  <table>
    <thead>
      <tr>
        <th style="width:20%">Industry</th>
        <th style="text-align:center; width:10%">C</th>
        <th style="text-align:center;width:10%">V</th>
        <th style="text-align:center;width:10%">M</th>
        <th style="text-align:center;width:10%">C'</th>
        <th style="text-align:center;width:10%">Initial Capital</th>
        <th style="text-align:center;width:10%">Current Capital</th>
        <th style="text-align:center;width:10%">Profit</th>
        <th style="text-align:center;width:10%">Profit Rate</th>
      </tr>
    </thead>
    <tbody>
      <!--Loop over the industries -->
      {{range .NewIndustryViews }}
      <tr>
        <td style="text-align: left">{{ .Link "industry"}}</td>
 
      </tr>
      {{end}}
    </tbody>
  </table>
</div>

